@font-face {
    font-family: webfont;
    src: url(magazine.ttf);
}


html {
    background-image: linear-gradient(grey,black);
    background-size: cover;
    min-height: 100%;
    font-family: webfont;

}
nav{
    grid-column: 1/1;
    grid-row:1;
}


nav a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    background-color: black;
}
    


body{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    grid-template-rows: 1fr 1fr 1fr  auto;
}

.gridnav{
    grid-column: 1/4;

    
}

h3{
    font-size: 30px;
    text-decoration: underline;
    color: white;
    
}

p{
    font-size: 26px;  
}

.gridlogo{
    grid-column: 1/1;
    grid-row: 2/3;
    width: 50px;
    max-width: 2px;
     
}
.jeanbeltW{
    width: 600px;
}

.shirtbeltW{
    width: 300px;
}

.homeinfo{
    box-shadow:10px 10px black;
    background-color: grey;
    
    
}
h1{
    font-family: webfont;
    font-size: 26px;
}
.gridshirt{
    margin-left: 100px;
    margin-top: 65px;
    box-shadow:10px 10px grey;
    background-color: grey;
    padding-left: 50px; 
    box-shadow:10px 10px black;
    grid-column:3/3;
    grid-row:2/5;
}

.catshirt{
    grid-row: 2/;
    border: 10px solid grey;
    color: white;
    padding-left: 20px;
    background-color: black;
    
}
.catjean{
    background-color: black;
    color: white;
    padding-left: 20px;
    margin-left: 5px;
    border: 10px solid grey;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.catlogo{
    grid-row: /4;
    grid-column: 1/4
}
.aboutinfo{
    color: black;
    box-shadow: 10px 10px black;
    background-color: grey;
    font-size: 26px;
}



.shirtlook{
    background-color: black;
    grid-column: 2/3;
    grid-row: 1/3; 
    border: 10px solid grey;
}
h2{
    color: white;
}
.jeanlook{
    background-color: black;
    grid-column: 2/3;
    grid-row: 1/3; 
    border: 10px solid grey;
}
.imgslider{
    grid-column: 4/4;
    grid-row: 1/1;
    background-color: grey;
    border: 10px solid grey;
        
    }
.logo{
    width: 350px;
}
.logo1{
    width: 300px;
}
.catjeanimg{
width:20px;
}

.beltjeanP{
    width: 700px;
}
.beltjeanP{
    width: 320px;
}